<h3 class="nick-name">
    <%= comment.commenter %>
</h3>

<div>
    <%= comment.body %>
</div>

<div>
    <%= link_to 'Delete Comment', [comment.post, comment],
        method: :delete, data: { confirm: 'Are you sure' }, 
        class: "btn btn-xs btn-danger" %>
</div>