$navbar-default-bg: black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

.page-title {
  padding: 50px 0;
  text-align: center;
}

.well {
  min-height: 440px;
  position: relative;
}

.alert-success {
  margin-top: 85px;
}

.alert-notice {
  margin-top: 70px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  position: absolute;
  bottom: 42px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.description {
  margin-top: 0;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #cccccc;
  transition: 0.5s;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fffbfb;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.auth-container {
  width: 60%;
  margin: 100px auto;
}
.auth {
  border: 1px solid black;
  padding: 40px 35px;
  border-radius: 5px;
  h2 {
    text-align: center;
    margin: 0 0 30px 0;
  }
  label {
    text-transform: uppercase;
    font-weight: normal;
  }
  .sign-up-btn,
  .login-btn {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    background: #2f2c2c;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
    transition: 0.3s;
    &:hover {
      background: #000000;
      color: #fff;
    }
  }
}
.link-to-login,
.link-to-register {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  background: #2f2c2c;
  color: #fff;
  transition: 0.3s;
  &:hover {
    background: #000000;
    color: #fff;
  }
}

.error-block {
  border: 1px solid #f50101;
  width: 60%;
  padding: 10px 30px;
  margin: auto;
  ul {
    color: #f50101;
  }
}

.post-img {
  text-align: center;
}

.comments,
.add-comment {
  margin-top: 100px;
  h2 {
    font-size: 18px;
  }
  .nick-name {
    font-size: 20px;
    font-weight: bold;
  }
}
.add-comment {
  .comment-text {
    height: 200px;
  }
}

.create-post {
  h1 {
    text-align: center;
  }
}

.add-to-favorite {
  color: #808080;
}

.favorite {
  color: #d0bd1b;
}

.views {
  color: #9c9c9c;
  padding-left: 15px;
}

/* style to admin panel */
.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 52px;
  width: 200px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .sidebar-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .sidebar-nav__elem {
    border-bottom: 1px solid #455a64;
    color: #cfd8dc;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    &:hover {
      background-color: #2b383e;
      cursor: pointer;
    }
    a {
      color: #cfd8dc;
      text-decoration: none;
      display: block;
      height: 50px;
      padding-left: 50px;
      line-height: 50px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(0, -50%);
    }
  }
}

.wrapper {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  margin-top: 65px;
}
