<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav__elem">
            <i class="fas fa-list"></i>
            <%= link_to 'posts', admin_posts_path %>
        </li>
        <li class="sidebar-nav__elem">
            <i class="fas fa-comments"></i>
            <%= link_to 'comments', admin_comments_path %>
        </li>
    </ul>
</div>
