<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/admin_navigation' %>

    <%= render 'layouts/admin_sidebar' %>
    <%= yield %>
  </body>
</html>
